<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <style>
        article {
        text-align: center;
        color: white;
        font-family: Courier New;
        font-size:100;
        }
        
        h1 {
        text-align: center;
        color: white;
        font-family: Courier New;
        font-size:125;
        }

        p {
        text-align: center;
        color: white;
        font-family: Courier New;
        font-size:125;   
        }
        </style>
</head>
<body style="background-color:black;">
    <table>
        <tbody>
            <tr>
                <td style="width:33%">
                    <h1>This dude over here is Raihansyah Attallah Andrian</h1>
                    <img src="http://www.about.tarung2017.com/foto/330.jpg" style="width:200px; height:200px; display: block; margin-left: auto; margin-right: auto;
                        border-radius: 50%;">
                    <article><br></article>   
                    <article>
                    NPM : 1706040196 <br>
                    He is 19 years old <br>
                    He study in University of Indonesia <br>
                    His hobby is coding and helping<br>
                    </article>
                    <p>He is a pro<del>gamer</del>gramer and one of the best three between the three of us</p>
                </td>
                <td style="width:33%">
                    <h1>Hello my name is {{ name }}</h1>
                    <article><br></article>
                    <img src="https://pbs.twimg.com/profile_images/1037560349967433730/sb0KhZEs_400x400.jpg" 
                        style="width:200px; height:200px; display:block; margin-left:auto; margin-right:auto;
                        border-radius: 50%;">
                    <article><br></article>
                    <article>NPM : {{ npm }} </article>
                    <article>I am {{ age }} years old</article>
                    <article>I study in {{ university }} <br>
                    My hobby is {{ hobby }} <br>
                    </article>
                    <p>{{ description }}</p>
                </td>
                <td style="width:33%">
                    <h1>This is my friend, Muhammad Adipashya Yarzuq</h1>
                    <article><br></article>
                    <img src="https://scele.cs.ui.ac.id/pluginfile.php/25021/user/icon/lambda/f1?rev=1316527"
                    style="width:200px; height:200px; display:block; margin-left:auto; margin-right:auto;
                        border-radius:50%;">
                    <article><br></article>  
                    <article>
                    NPM : 1707074852 <br>
                    He is 19 years old <br>
                    He study in University of Indonesia <br>
                    His hobby is Doing and learning magic <br>
                    </article>
                    <p>He pretty much like anything about cards game, either trump's card, playing cards,
                        or card games</p>
                </td>
            </tr>         
        </tbody>
    </table>
</body>
</html>
